.circulo {
    height: 50vh;
    width: 50vh;
    background-color: #555;
    border-radius: 50%;
}

.num {
    cursor: default;
    user-select: none;
    animation: vanish 2s linear infinite;
}

@keyframes vanish {
    0% {
        opacity: 1;
        transform: translateY(0px);
        animation-timing-function: linear;
    }
    50% {
        opacity: 1;
        transform: translateY(-25px);
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
}

.memes-container {
    flex: 1 1 350px;
    background-color: blue;
    height: 400px;
    min-width: 350px;
}

.upgrades-container {
    flex: 1 1 350px;
    background-color: green;
    height: 400px;
    min-width: 350px;
}

.modificadores-container{
    flex: 1 1 350px;
    background-color: red;
    height: 400px;
    min-width: 350px;
}